body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00ff00;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: -1;
}

div {
    overflow: hidden;
}

td {
    width: 100%;
    text-align: center;
}

a {
    text-decoration: none;
    color: #fff;
}

.TempOk {
    color: #22814c;
}

.TempLow {
    color: #00a2e8;
}

.TempHigh {
    color: #ed1c24;
}

.Tilt {
   padding: 1vh;
   cursor: pointer;
}

.BeerName {
    position: relative;
    width: 100%;
    height: 3vh;
    font-size: 2vh;
    line-height: 3vh;
    color: #ffffff;
}

.BeerGrav {
    position: relative;
    width: 100%;
    height: 12vh;
    font-size: 10vh;
    line-height: 12vh;
    text-align: center;
}

.TiltData {
    position: relative;
    width: 100%;
    height: 3vh;
    font-size: 2vh;
    line-height: 3vh;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-row: 1;
    color: #ffffff; 
}

.TiltBeacon {
    position: relative;
    width: 100%;
    height: 3vh;
    font-size: 2vh;
    line-height: 3vh;
    text-align: left;
    color: #ffffff;
}

.TiltTemp {
    position: relative;
    width: 100%;
    height: 3vh;
    font-size: 2vh;
    line-height: 3vh;
    text-align: right;
    color: #ffffff;
}

.Metric {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 1vh;
    line-height: 4vh;
    font-size: 3vh;
    text-align: left;
}

.MetricValue {
    font-size: 2vh;
    text-align: right;
}

.MetricButtons {
    position: relative;
    padding: 1vh;
    width: 100%;
    height: 100%;
    line-height: 4vh;
    font-size: 3vh;
    grid-row: span 3;
}

.BeerNameButton {
    border: solid 1px #ffffff;
    border-radius: 3vh;
    width: 98%;
    height: 98%;
    line-height: 11vh;
    font-size: 5vh;
    text-align: center;
    cursor: pointer;
}

.BeerNameButtonDouble {
    border: solid 1px #ffffff;
    border-radius: 3vh;
    width: 98%;
    height: 98%;
    line-height: 11vh;
    vertical-align: middle;
    font-size: 5vh;
    text-align: center;
    cursor: pointer;
    grid-column: span 2;
}

.BeerNameButtonVertical{
    border: solid 1px #ffffff;
    border-radius: 3vh;
    width: 98%;
    height: 98%;
    line-height: 22vh;
    vertical-align: middle;
    font-size: 5vh;
    text-align: center;
    cursor: pointer;
    grid-row: span 2;
}

.TargetTempButton {
    border: solid 1px #ffffff;
    border-radius: 3vh;
    width: 98%;
    height: 98%;
    line-height: 9vh;
    font-size: 8vh;
    cursor: pointer;
    text-align: center;
}

.TargetTempButtonDouble {
    border: solid 1px #ffffff;
    border-radius: 3vh;
    width: 98%;
    height: 98%;
    line-height: 9vh;
    font-size: 8vh;
    cursor: pointer;
    text-align: center;
    grid-column: span 2;
}

.ConfigLabel {
    line-height: 11vh;
    font-size: 3vh;
    text-align: left;
}

.ConfigValue {
    line-height: 11vh;
    font-size: 3vh;
    text-align: center;
}

.ConfigLabel img {
    width: 3vh;
    height: 3vh;
}

.ConfigButton {
    line-height: 11vh;
    font-size: 4vh;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 3vh;
    cursor: pointer;
}

.ButtonRed {
    border-color: #ed1c24;
    color: #ed1c24;
}

.ButtonGreen {
    border-color: #22b14c;
    color: #22b14c;
}

.ButtonYellow {
    border-color: #fff200;
    color: #fff200;
}

.ButtonBlue {
    border-color: #00a2e8;
    color: #00a2e8;
}

.LogHeader {
    font-weight: bold;
    font-size: 3vh;
    color: #00a2e8;
}

.LogEntries {
    font-size: 2vh;
}


#Main{
    position: fixed;
    left: 0vw;
    top: 0vw;
    background-color: #333333;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    background-image: url("img/ssblogo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50%;
    background-size: 100vw 100vw;
    z-index: 0;
}

#Sv {
    position: absolute;
    left: 0vw;
    top: 0vh;
    width: 100vw;
    height: 15vh;
    /*background-color: #ff0000;*/
}

#SvHeader {
    position: fixed;
    left: 1vw;
    top: 0vh;
    width: 98vw;
    font-weight: bold;
    line-height: 5vh;
    font-size: 3vh;
}

#SvText {
    position: fixed;
    left: 1vw;
    top: 0vh;
    width: 100vw;
    line-height: 15vh;
    font-size: 15vh;
    text-align: center;
    cursor: pointer;
}

#SvFooter {
    position: fixed;
    left: 1vw;
    top: 11vh;
    width: 98vw;
    line-height: 4vh;
    font-size: 3vh;
    text-align: right;
}

#Pv {
    position: absolute;
    left: 0vw;
    top: 15vh;
    width: 98vw;
    height: 15vh;
    /*background-color: #00ff00;*/
}

#PvHeader {
    position: fixed;
    left: 1vw;
    top: 15vh;
    width: 98vw;
    font-weight: bold;
    line-height: 5vh;
    font-size: 3vh;
}

#PvText {
    position: fixed;
    left: 1vw;
    top: 15vh;
    width: 98vw;
    line-height: 15vh;
    font-size: 15vh;
    text-align: center;

}
#PvFooter {
    position: fixed;
    left: 1vw;
    top: 26vh;
    width: 98vw;
    line-height: 4vh;
    font-size: 3vh;
    text-align: right;
}

#Gv {
    position: absolute;
    left: 0vw;
    top: 30vh;
    width: 98vw;
    height: 15vh;
    /*background-color: #00ff00;*/
}

#GvHeader {
    position: fixed;
    left: 1vw;
    top: 30vh;
    width: 98vw;
    font-weight: bold;
    line-height: 5vh;
    font-size: 3vh;
}

#GvText {
    position: fixed;
    left: 1vw;
    top: 30vh;
    width: 98vw;
    line-height: 15vh;
    font-size: 15vh;
    text-align: center;

}
#GvFooter {
    position: fixed;
    left: 1vw;
    top: 41vh;
    width: 98vw;
    line-height: 4vh;
    font-size: 3vh;
    text-align: right;
}

#Graph {
    position: absolute;
    left: 0vw;
    top: 45vh;
    width: 100vw;
    height: 15vh;
}

#Metrics {
    position: absolute;
    left: 0vw;
    top: 60vh;
    height: 30vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 47vw);
    grid-template-rows: repeat(6, 4.5vh);
    column-gap: 5vw;
    row-gap: .5vh;
}

#Controls {
    position: absolute;
    left: 0vw;
    top: 90vh;
    height: 10vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(6, 16vw);
    column-gap: .8vw;
}

#MetricButtons {
    z-index: 2;
}

#BeerToggle{
    position: fixed;
    right: 16px;
    top: 0vw;
    width: 64px;
    height: 64px;
    z-index: 4;
}

#TiltToggle {
    cursor: pointer;
}

#BeerName{
    position: fixed;
    visibility: hidden;
    left: 0vw;
    top: 0vw;
    background-color: #333333f7;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    z-index: 3;
}

#BeerNameDisplay {
    position: fixed;
    left: 0vw;
    top: 0vh;
    width: 100vw;
    height: 48vh;
    line-height: 48vh;
    font-size: 10vh;
    text-align: center;
}

#BeerNameButtons {
    position: fixed;
    left: 0vw;
    top: 48vh;
    height: 52vh;
    display: grid;
    grid-template-columns: repeat(12, 8.1vw);
    column-gap: .25vw;
    grid-template-rows: repeat(4, 12.5vh);
    row-gap: .25vh;
    overflow: hidden;
}

#SetTargetTemp{
    position: fixed;
    visibility: hidden;
    left: 0vw;
    top: 0vw;
    background-color: #333333f7;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    z-index: 3;
}

#NewTargetTemp {
    position: fixed;
    width: 100vw;
    height: 25vh;
    left: 0vw;
    top: 0vh;
    line-height: 25vh;
    text-align: center;
    font-size: 23vh;
}

#CurrTargetTemp {
    position: fixed;
    width: 100vw;
    height: 25vh;
    left: 0vw;
    top: 25vh;
    line-height: 25vh;
    text-align: center;
    font-size: 23vh;
}

#TargetTempNumPad {
    position: fixed;
    width: 100vw;
    height: 50vh;
    left: 0vw;
    top: 50vh;
    display: grid;
    grid-template-columns: repeat(3, 33vw);
    grid-template-rows: repeat(5, 9vh);
    column-gap: 1vw;
    row-gap: 1vh;
}

#Config{
    position: fixed;
    visibility: hidden;
    left: 0vw;
    top: 0vw;
    background-color: #333333f7;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    z-index: 3;
    display: grid;
    grid-template-columns: repeat(4, 24vw);
    grid-template-rows: repeat(8, 11vh);
    column-gap: 1vw;
    row-gap: 1vh;
}

#LogEntries {
    position: fixed;
    visibility: hidden;
    left: 0vw;
    top: 0vw;
    background-color: #333333f7;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    z-index: 3;
}

#ControllerLogs {
    position: fixed;
    left: 5vw;
    top: 5vw;
    width: 90vw;
    height: 30vh;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

#IoTLogs {
    position: fixed;
    left: 5vw;
    top: calc(5vw + 30vh);
    width: 90vw;
    height: 30vh;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

#LogControls {
    position: fixed;
    left: 5vw;
    top: 85vh;
    width: 90vw;
    height: 10vh;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(4, 20vw);
    column-gap: 2vw;
}